* {
   
    text-align: center;
}
body {
    /*background-color: #ffc200   #393232;;  #4d4545;*/
    background-color: #393232;
    
}

h3 {
    color: rgb(190, 183, 183);
    margin: 1px;
}
 h3:hover {
     color: black;
 }

h2 {
    text-align: center;
    margin-top: 40px;
    color: grey;
    font-weight: bold;
    font-size: 40px;
}
.container {
    background-color: black;
    display: flex;
    justify-content: center;
    width: 45%;
    margin: 30px auto;
}
  
.box {
    border: 1px solid lightgrey;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: black;
}

img {
    width: 300px;
    height: 350px;
}


audio {
    width: 200px;
    height: 40px;
    border: 1ps solid black;
    text-align: center;
}

button {
  color: black;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50%;
  background-color: #ffc200;
  bottom: 5px;
}

#userKeyword {
    width: 30%;
    text-align: center;
    height: 30px;
    border-radius: 10%;   
}

.box:hover {
    background-color: #ffc200;
}
